@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansX-Regular;
  src: url('../dist/fonts/woff/IRANSansX-Regular.woff') format("woff");
}

body {
  font-family: IRANSansX-Regular;
}
